*
**
# Common
!CHANGELOG.md
!README.md
!LICENSE.TXT
!icon.png
!/considerations/
!/considerations/**

#dev tooling
!.gitignore
!.prettierignore
!.prettierrc.json
!.vscodeignore
!AGENTS.md
!CONSIDERATIONS.md
!ROADMAP.md
!package-lock.json
!package.json
!tsconfig.json
!tsconfig.test.json
!/scripts/
!/scripts/**

#test
!/test/
!/test/**

#source
!/src**
