*
**
!.gitignore
!.prettierignore
!.prettierrc.json
!.vscodeignore
!*.md
!.eslint.config.js
!LICENSE.TXT
!package-lock.json
!package.json
!prepare-dist.mjs
!tsconfig.json
!vitest.config.mts

!/test**
!/src**