*
**
# Common
!CHANGELOG.md
!README.md
!LICENSE.TXT
!icon.png

#dev tooling
!.gitignore
!.prettierignore
!.prettierrc.json
!.vscodeignore
!AGENTS.md
!CONSIDERATIONS.md
!ROADMAP.md
!.eslint.config.js
!package-lock.json
!package.json
!tsconfig.json
!tsconfig.test.json
!/scripts/
!/scripts/**

#test
!.vscode-test.mjs
!/test/
!/test/**

#source
!/src**
